<html lang="en">
  {{>head}}
  <body>
    <form method="POST" action="/api/product">
      <label for="title">Title</label>
      <input type="text" name="title" id="title-input" />

      <label for="price">Price</label>
      <input type="number" name="price" id="price-input" />

      <label for="thumbnail">Thumbnail</label>
      <input type="text" name="thumbnail" id="thumbnail" />

      <button>Enviar</button>
    </form>
  </body>
</html>