@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Fascinate&family=Jacques+Francois+Shadow&family=Josefin+Sans&family=Montserrat&family=Playfair+Display:wght@500&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
}

#add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(121, 121, 121);
  padding: 20px;
}
input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: solid 1px rgba(0, 0, 0, 0.144);
  }
#list-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(162, 162, 248);
}

#chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(248, 211, 248);
}
#chat-box form{
    width: 50rem;
    margin-bottom: 100px;
}

table {
  border: 2px solid rgb(209, 209, 209);
  width: 50rem;
  margin: 20px auto;
}
table td {
  text-align: center;
}
table img {
  height: 100px;
}
ul li{
  list-style: none;
  background-color: #fff;
}
.msg{
  background-color: red;
}

button{
  background-color: rgb(70, 129, 255);
  height: 70px;
  width: 100%;
  cursor: pointer;
  font-size: 23px;
  font-weight: bolder;
  border: none;
}
.boldtxt{
  font-weight: bolder;
}
